body, .container-fluid{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.nav-bg{
    background-color: rgba(247, 195, 95, 1);
}

.hero-page{
    background-image: url("/images/HeroPage.png");
    background-size: cover;
    background-position: center;
    height: 800px;
}

.grey-background{
    background-color: rgba(245, 245, 245, 1);
}

.footer-bg{
    background-color: rgba(247, 195, 95, 1);
}

.contact-bg{
    background-color: rgba(247, 194, 95, 0.603);
}